<main class="flex flex-col items-center md:items-start">

    <h1 class="text-2xl">{{title()}}</h1>

        
    <section class="w-full flex justify-end">
        <button matButton matDialogOpen>Novo Exame</button>
    </section>

    <table
    mat-table
    [dataSource]="dataSource()"
    class="my-6 w-full rounded-xl overflow-hidden shadow-md border border-gray-200"
    >

    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-3"> Data </th>
        <td mat-cell *matCellDef="let e" class="px-4 py-3">
        {{ formatarData(e.dataExame) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="idUnique">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-3"> Id Único </th>
        <td mat-cell *matCellDef="let e" class="px-4 py-3">
        {{ e.idempotencyKey }}
        </td>
    </ng-container>

    <ng-container matColumnDef="modalidade">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-3"> Modalidade </th>
        <td mat-cell *matCellDef="let e" class="px-4 py-3">
        {{ e.modalidade }}
        </td>
    </ng-container>

    <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-3"> Paciente </th>
        <td mat-cell *matCellDef="let e" class="px-4 py-3">
        {{ e.paciente.nome }}
        </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-3"> Descrição </th>
        <td mat-cell *matCellDef="let e" class="px-4 py-3">
        {{ e.descricao }}
        </td>
    </ng-container>

    <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="bg-gray-100 text-gray-700 font-semibold"
    ></tr>

    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="hover:bg-gray-50 transition-colors duration-150 even:bg-gray-50/60"
    ></tr>

    </table>

</main>